include header
body
include navbar
- var n = 0;
    ul(style='list-style-type: none;')
      while n < item_name.length
        li.card 
            form(method='post', action='/rent')
                - var y = 'value="#{item_name[n]}"'
                input(name='item_name', style='display: none;' value=`${item_name[n]}`)
                input(name='provider', style='display: none;' value=`${provider[n]}`)
                input(name='amount', style='display: none;' value=`${renting_fee[n]}`)
                h1.display-4 #{item_name[n]}
                img(src="data:image;base64," + image[n] )
                p Renting Fee: #{renting_fee[n]}
                p Provider: #{provider[n]}
                p Provider Contact: #{provider_contact[n]}
                p Type: #{item_type[n]}
                p Stock: #{stock[n++]}
                br
                label Date to be rented:
                input(name='rent_date', type='date', required='')
                label Days to be rented:  
                input(name='days', maxlength='2', size='2', required='')
                label Number of items:  
                input(name='quantity', maxlength='2', size='2', required='')
                br
                br
                button.btn.btn-primary(type='submit') Rent
include footer
