include header
body
include navbar
.jumbotron#rental_banner
  .container
    h1.display-2 Transaction
		
.container-fluid
    table.table
        thead.thead-dark
            tr
                th ID
                th Name
                th Date Rented
                th Date Due
                th Amount
                th Quantity
                th Approved
                th Returned
                th Provider
                th
        tbody
        -var n = 0;
        while n < transac_id.length
                tr
                    td #{transac_id[n]}
                    td #{item_name[n]}
                    td #{date_rented[n]}
                    td #{date_due[n]}
                    td #{amount[n]}
                    td #{quantity[n]}
                    td #{provider[n]}
                    td #{approved[n]}
                    td #{returned[n]}
                    form(method='post', action='/cancel')
                        input(name='transac_id', style='display: none;' value=`${transac_id[n]}`)
                        input(name='item_id', style='display: none;' value=`${item_id[n++]}`)
                        td
                            button.btn.btn-primary(type='submit') Cancel
include footer