include header
body
include navbar
                
#rental_banner.jumbotron
  .container
    h1.display-2 View Profile
// Banner
// -------------- Edit profile main content --------------
.container
  h1.display-4 
  hr.my-4
  form(action='/edit_profile', method='post')
    label First name
    input#client_first_name.form-control(name='first_name', type='text', placeholder='First name', value = `${first_name}`)
    label Last name
    input#client_last_name.form-control(name='last_name', type='text', placeholder='Last name', value = `${last_name}`)
    label Email Address
    input#client_email.form-control(name='email', type='text', placeholder='Email Address', value = `${email}`)
    label Address
    input#client_address.form-control(name='address', type='text', placeholder='Address', value = `${address}`)
    label Contact number
    input#client_contact.form-control(name='contact', type='text', placeholder='Contact number', value = `${contact}`)
    input.btn.btn-primary.btn_cc(type='submit', value='Edit')
  hr.my-4
// -------------- Edit profile main content --------------
// Footer
.empty
footer.footer
  .container
    span.text-muted WebTech 2018 &copy; Saint Louis University
// Footer


